<nav class="layout-topbar  h-c-topbar md:pl-c-sidebar w-full">
    <div class="w-full h-full flex justify-between items-center bg-topbar px-6 shadow shadow-zinc-200">
        <div>
            <i class="md:hidden pi pi-bars" style="font-size: 1.5rem" (click)="sharedService.showSideBar()"></i>
        </div>

        <div>
            <span class="inline-flex items-center gap-2">
                <img class="h-[40px] w-auto" src="assets/images/logo.png" alt="FERYMAR Inmobiliaria" />
            </span>
        </div>
    </div>
</nav>